<h1>About</h1>
<p>
	<%= link_to "Crash Pad", "http://crashpadusa.com" %>
	is a service that provides local vacation experiences.
	<%= link_to "Find us on Facebook", "http://www.facebook.com/crashpadusa" %>
</p>