


<div class="center hero-unit">
	
<center>
	<h2>Lodestar</h2>
		<p>
			You've found the home page for the 
			<%= link_to "Lodestar", "http://crashpadusa.com" %>
			application
		</p>

		 <p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
	</div>